*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.main-menu{
    background-color: aquamarine;
    display:flex;
    align-items: center;
}
.logo{
    font-size: larger;
    font-weight: bolder;
    padding: 1rem;
}
.main-menu a{
    text-decoration: none;
    
}
.nav-list{
    list-style-type: none;
    display: flex;
    
}
.nav-list .nav-item .nav-link{
    display: block;
    padding: 0.5rem 1rem;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-main{
    margin: 3rem 0;
    border: 0.5px solid black;
    padding: 2rem;
}
.col{
    width: 33.33333333%;
    border: 0.5px solid black;
    padding: 2rem;
}
@media screen  and(max-width:1023px){
    .col{
        width: 50%;
        border: 0.5px solid black;
        padding: 2rem;
    }
    .container{
        width: 100%;
    }
    
}
@media screen and(max-width:576px) {
    .col{
        width: 100%;
    }
    .nav-link{
        display: none;
    }
}