*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.container {
    margin-bottom: 20px;
}

.pic {
    width: 100%;
    height: auto;
}

.coo p,
h1 {
    text-align: center;
    

}

.coo {
    border: 1px solid black;
    padding: 0px 100px;
    margin-bottom: 20px;

}

.col {
    border: 1px solid;
    padding: 0px 10px;
    height: auto;
}

.row2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

footer {
    border: 1px solid;
}

@media screen and(max-width: 1024px) {
    .row {


        grid-template-columns: repeat(2, auto);


    }
}

@media screen and(max-width:576px) {
    .row2 {
        grid-template-columns: repeat(1, auto);
    }
    footer h1{
        font-size: 16vw;
    }
}